# python
__pycache__/
*.pyc
.venv/
venv/
.env
.vscode/
src/swm.egg-info/

# data
dataset/
domain/
mergy.py
tasks/

# results
eval_results/

# fastdownward
downward/
test_pddl/

# model
siglip2-giant-opt-patch16-384/
Qwen3-Reranker-0.6B/

# else
1.py
gpt.py
merged_domain.pddl
.sii/